<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAdditionOperations" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:13048/AdditionOperations.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdditionOperations"
                contract="IAdditionOperations" name="BasicHttpBinding_IAdditionOperations" />
        </client>
    </system.serviceModel>
</configuration>