<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SoapRequestsAndResponsesShouldLog" value="true" />
    <add key="SoapRequestsAndResponsesFolder" value="c:\temp\00_Tests" />
    <add key="SoapRequestsAndResponsesApplicationName" value="Tests" />
  </appSettings>
  <connectionStrings>
    <add name="SampleLoggingConnectionString" connectionString="Data Source=.;Initial Catalog=SampleLogging;integrated security=SSPI;"  />
  </connectionStrings>
</configuration>